body {
  margin: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  font-family: 'Lato', sans-serif;
  background-color: #f2f2f2;
  color: #0f283a;
}

.navbar-brand span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 900;
  background-color: #00b4d7;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both;
}

.bg-dark {
  background-color: #00b4d7;
}

.App {
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  font-size: 16px;
  color: #16a1b9;
  background-color: transparent;
}

.nav-link.active {
  color: #00b4d7;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.nav-link {
  padding: 0;
  color: white;
  display: block;
  padding: .5rem 1rem;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.table .thead-dark th {
  color: #fff;
  background-color: #16a1b9;
  border-color: #16a1b9;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

@media (max-width: 871px) {
  .title {
    font-size: 40px
  }

  .subtitle {
    font-size: 30px
  }

  .paragraph {
    font-size: 20px
  }
}


@media screen and (max-width: 768px) {
  .navbar-brand {
    width: auto;
  }

  .title {
    font-size: 30px;
    /* display: none; */
    color: transparent;
    margin-bottom: 5rem;
    animation: disable;
  }

  .subtitle {
    font-size: 22px;
    display: none;
    animation: disable;
  }

  .paragraph {
    font-size: 16px;
    color: transparent;
    animation: disable;
  }

  .btn-info.home {
    animation: disable;
  }

  .btn-info.home:hover {
    transform: disable;
  }

  .btn-info.home:active {
    transform: disable;
  }

  h1 {
    font-size: 30px
  }

  h2 {
    font-size: 22px
  }

  h3 {
    font-size: 16px
  }

  .container {
    margin-top: 10px
  }
}