footer {
    /* background-color: #00b4d7; */
    /* background-color: rgba(0, 169, 211, 1); */
    background-image: linear-gradient(to bottom right, #81bed9, #00abd5);
    /* background-image: linear-gradient(to bottom right, #00abd5, #16a1b9); */
    margin-top: .5rem;
    /* color: #fff; */
}

.copyright {
    color: #fff;
    display: inline-block;
    justify-content: flex-end;
}

.social-media a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50px;
    text-align: center;
    background-color: #fff;
    color: #00b4d7;
    /* display: inline-block; */
    /* justify-content: flex-end; */
    float: left;
    margin-left: 5px;
}