footer {
    background-color: #343a40;
    margin-top: 1rem;
    color: #fff;
}

.copyright {
    color: #fff;
}

.social-media a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50px;
    text-align: center;
    background-color: #fff;
    color: #00b4d7;
    display: inline-block;
    /* justify-content: flex-end; */
    float: right;
    margin-left: 10px;
}