footer {
    /* background-color: #00b4d7; */
    /* background-color: rgba(0, 169, 211, 1); */
    /* background-image: linear-gradient(to bottom right, rgba(0, 169, 211, .3), rgba(0, 169, 211, 1)); */
    background-image: linear-gradient(to bottom right, #81bed9, #00abd5);
    margin-top: .5rem;
    color: #fff;
}

.mt-5,
.my-5 {
    margin-top: 5rem !important;
}

.copyright {
    color: #fff;
}

.social-media a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50px;
    text-align: center;
    background-color: #fff;
    color: #00b4d7;
    /* display: inline-block; */
    justify-content: flex-end;
    float: right;
    margin-left: 10px;
}